@charset "utf-8";
/* CSS Document */
@keyframes scrolls {
    0%   {top: 10px; opacity: 1; height: 4px}
    95% {top: 18px; opacity: 0; height: 10px}
  	100% {top: 8px; opacity: 1; height: 4px}
}
@-webkit-keyframes scrolls {
    0%   {top: 10px; opacity: 1; height: 4px}
    95% {top: 18px; opacity: 0; height: 10px}
  	100% {top: 8px; opacity: 1; height: 4px}
}
@-moz-keyframes scrolls {
    0%   {top: 10px; opacity: 1; height: 4px}
    95% {top: 18px; opacity: 0; height: 10px}
  	100% {top: 8px; opacity: 1; height: 4px}
}
@-ms-keyframes scrolls {
    0%   {top: 10px; opacity: 1; height: 4px}
    95% {top: 18px; opacity: 0; height: 10px}
  	100% {top: 8px; opacity: 1; height: 4px}
}
@-o-keyframes scrolls {
    0%   {top: 10px; opacity: 1; height: 4px}
    95% {top: 18px; opacity: 0; height: 10px}
  	100% {top: 8px; opacity: 1; height: 4px}
}
@keyframes arrow {
    0%   {top: 10px; opacity: 1; height: 4px}
    95% {top: 18px; opacity: 0; height: 10px}
  	100% {top: 8px; opacity: 1; height: 4px}
}
@-webkit-keyframes arrow {
    0%   {top: 10px; opacity: 1; height: 4px}
    95% {top: 18px; opacity: 0; height: 10px}
  	100% {top: 8px; opacity: 1; height: 4px}
}
@-moz-keyframes arrow {
    0%   {top: 10px; opacity: 1; height: 4px}
    95% {top: 18px; opacity: 0; height: 10px}
  	100% {top: 8px; opacity: 1; height: 4px}
}
@-ms-keyframes arrow {
    0%   {top: 10px; opacity: 1; height: 4px}
    95% {top: 18px; opacity: 0; height: 10px}
  	100% {top: 8px; opacity: 1; height: 4px}
}
@-o-keyframes arrow {
    0%   {top: 10px; opacity: 1; height: 4px}
    95% {top: 18px; opacity: 0; height: 10px}
  	100% {top: 8px; opacity: 1; height: 4px}
}
@media all and (max-width: 959px) and (min-width: 555px) {
	.concecionarios {
		width: 100%;}
	.localizador {
		width: 100%;
		height:960px;}	
	#part_1 {
		width: 50%;}
	#part_2 {
		width: 50%;}
	#part_3 {
		width: 100%;
		height: auto;
		margin-top: 0px;}	
	#resultado {
		width: 100%;
		padding-top: 20px;
		padding:0;}	
	.localizador span{
		width:90%;}		
		
		
		}
@media all and (max-width: 554px) and (min-width: 321px) {
	.concecionarios {
		width: 100%;}
	.localizador {
		width: 100%;
		height:auto;}	
	#part_1 {
		width: 100%;}
	#part_2 {
		width: 100%;}
	#part_3 {
		width: 100%;
		height: auto;
		margin-top: 0px;}	
	#resultado {
		width: 100%;
		padding-top: 20px;
		padding:0;}	
	.localizador span{
		width:90%;}	
	tr {
		display: list-item;
		font-size: 11px;
		list-style: none;
		}	
	select#servicio {
width: 221px;
}
input[type="text"]{
	width:100px;}	
		}
@media all and (max-width: 320px) {
	.concecionarios {
		width: 100%;}
	.localizador {
		width: 100%;
		height:auto;}	
	#part_1 {
		width: 100%;
		height:auto;}
	#part_2 {
		width: 100%;
		height:auto;}
	#part_3 {
		width: 100%;
		height: auto;
		margin-top: 0px;}	
	#resultado {
		width: 100%;
		padding-top: 20px;
		padding:0;}	
	.localizador span{
		width:90%;}	
	tr {
		display: inherit;
		font-size: 8px;
		list-style: none;
		}	
	select#servicio {
width: 90% !important;
}
input[type="text"]{
	width:75px !important;}
	td input[type="text"]{
	width:100% !important;}
#part_2 table{
	width:100%;}
select{
	width:100% !important;}	
table {
width: 100% !important;
}
.localizador span{
	margin: 20px 0 0 20px;}		
	input.btn_siguiente2 {
margin: 0 !important;
}
select#person_select {
width: 100% !important;
margin: 0 !important;
}
select#work {
	width: 100%!important;
}
.aniWrap {
position: fixed;
z-index: 999;
right: 15px;
bottom: 15px;
display: none;
}
.mouse {
width: 28px;
height: 50px;
border: 2px solid #ABABAB;
border-radius: 14px;
}
.scroller {
width: 4px;
height: 4px;
border-top: 4px;
border-left: 0px;
border-right: 0px;
border-bottom: 1px;
border-radius: 4px 4px 0px 0px;
background: #C41733;
position: relative;
top: 10px;
left: 12px;
animation: scrolls 1.3s ease-out infinite !important;
-webkit-animation: scrolls 1.3s ease-out infinite !important;
-ms-animation: scrolls 1.3s ease-out infinite !important;
-moz-animation: scrolls 1.3s ease-out infinite !important;
-o-animation: scrolls 1.3s ease-out infinite !important;}
.arrow {
width: 0;
height: 0;
border-style: solid;
border-width: 10px 10px 0px 10px;
border-color: #C41733 transparent transparent transparent;
line-height: 0px;
_border-color: #4d4d4d #000000 #000000 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
border-radius: 2px;
opacity: 0;
position: relative;
top: 0px;
left: 4.4px;
animation: scrolls 1.3s ease-out infinite !important;
-webkit-animation: scrolls 1.3s ease-out infinite !important;
-ms-animation: scrolls 1.3s ease-out infinite !important;
-moz-animation: scrolls 1.3s ease-out infinite !important;
-o-animation: scrolls 1.3s ease-out infinite !important;
}

	}
