@charset "utf-8";
/* CSS Document */
body{
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	color:#666;
	margin:0;
	}
.concecionarios{
	width:960px;
	min-height:400px;
	margin:0 auto;
	}
.localizador{
	width:100%;
	height:350px;
	background:url(../images/fondo_c.jpg);
	}	
.localizador span{
	color:#C90046;
	font-family:Arial, Geneva, sans-serif;
	font-size:20px;
	margin:20px 0 0 35px;
	width:100%;
	float:left;
	}	
#part_1{
	width:297px;
	height:430px;
	background-color:#EEEEEE;
	float:left;
	margin-top:31px;
	padding:15px 0 0 0;
	}	
h2{
	color:#4D4D4F;
	font-size:19px;
	font-family:Arial, Geneva, sans-serif;
	text-align:center;
	margin:0 0 10px 0;
	}	
h3{
	color:#4D4D4F;
	font-size:19px;
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	margin:0 0 10px 0;
	}		
h4{
	color:#4D4D4F;
	font-size:14px;
	font-family:Arial, Geneva, sans-serif;
	margin:10px 0 10px 0;
	}		
.btn_siguiente{
	background-color:#C90046;
	padding:3px 9px;
	text-decoration:none;
	color:#FFF;
	font-size:15px;
	float:right;
	margin:10px 30px 0 0;
	}
.btn_siguiente2{
	background-color:#C90046;
	padding:3px 9px;
	text-decoration:none;
	color:#FFF;
	font-size:15px;
	float:right;
	margin:10px 30px 0 0;
	cursor:pointer;
	}	
#part_2{
	width:331px;
	height:430px;
	float:left;
	margin-top:31px;
	padding:15px 0 0 0;
	}
.ciudad{
	padding:5px 0 0 0;
	}	
.ciudad label {
text-align: right;
font-size:15px;
color:#666;
width: 350px;
margin-left:10px;
}	
select {
font-family: Arial;
font-size: 14px;
color: #666666;
background-color: #ffffff;
border: 1px solid #666666;
width: 200px;
margin: 5px;
}
.sector{
	margin-top:10px;
	}
.sector label {
text-align: right;
font-size:15px;
color:#666;
width: 350px;
margin-left:10px;
}	
#part_3{
	width:331px;
	height:430px;
	float:left;
	margin-top:31px;
	background-color:#EEEEEE;
	padding:15px 0 0 0;
	}
#barra_localizador{
	font-size:15px;
	color:#666;
	background-color:#DFDFDF;
	width:100%;
	min-height:20px;
	text-align:center;
	padding:10px 0;
	clear:both;
	float:left;
	}	
#resultado{
	width:910px;
	min-height:250px;
	clear:both;
	padding:20px;
	}	
#resultado span{
	color:#C90046;
	font-family:Arial, Geneva, sans-serif;
	font-size:20px;
	margin:5px 0 0 15px;
	float:left;
	}
#resultado p{
	margin:20px 0 0 15px;
	}		
.resultado_1{
	width:915px;
	margin:10px auto;
	border-bottom:1px dashed #939598;
	clear:both;
	padding:10px 0;
	min-height:120px;
	float:left;
	}
.r_conse{
	width:238px;
	height:116px;
	float:left;
	padding:0 15px 0 0;
	font-size:12px;
	}	
.info{
	font-size:15px;
	color:#666666;
	}
.r_servi{
	width:377px;
	min-height:116px;
	float:left;
	padding:0 15px;
	border-left:1px dashed #939598;
	border-right:1px dashed #939598;
	}	
.r_conta{
	width:238px;
	height:116px;
	float:left;
	padding:0 0 0 15px;
	font-size:12px;
	}	
.tit-serv{
	margin:0 !important;
	padding:0 !important;
	font-size:12px !important;
	}		
.ancho-td{
	width:75px !important;
	}	
.ancho-txt{
	text-align:left;
	}		
			